# https://docs.python.org/3/distutils/sourcedist.html#manifest
include README.md CHANGES LICENSE
recursive-include requirements *.txt
recursive-include uspto
recursive-include uspto py.typed
exclude requirements/test.txt
prune tests