# https://docs.python.org/3/distutils/sourcedist.html#manifest
include README.md CHANGES LICENSE
recursive-include requirements *.txt
recursive-include {{ package_name }}
recursive-include {{ package_name }} py.typed
exclude requirements/test.txt
prune tests
